* {
    box-sizing: border-box;
}

body {
    font-size: 109%;
    background-color: black;
    color:azure;
}

.cta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    margin-bottom: .2rem;
}

.btns button {
    height: 1.5rem;
}

.imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgs img {
    margin-top: 1rem;
    min-width: 15rem;
    min-height: 15rem;
    max-width: 50rem;
    max-height: 50rem;
    object-fit: cover;
    border: .1rem solid;
}
